In [1]:
import pandas as pd
import os
import csv
from IPython.display import Image
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

/Users/jamesmwakichako/anaconda3/lib/python3.5/site-packages/pandas/computation/__init__.py:19: UserWarning: The installed version of numexpr 2.4.4 is not supported in pandas and will be not be used

  UserWarning)

In [2]:
train_df = pd.read_csv('train.csv', header =None)
train_df_y = pd.read_csv('train_labels.csv', header = None)
test_df = pd.read_csv('test.csv', header =None)

In [3]:
train_df_y.describe()

                0
count  600.000000
mean     0.421667
std      0.494238
min      0.000000
25%      0.000000
50%      0.000000
75%      1.000000
max      1.000000

In [4]:
train_df.describe()

/Users/jamesmwakichako/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
count,585.000000,590.000000,580.000000,580.000000,575.000000,584.000000,587.000000,583.000000,581.000000,581.000000,...,579.000000,585.000000,584.000000,578.000000,571.000000,583.000000,584.000000,582.000000,581.000000,574.000000
mean,0.326534,2.557716,290.594555,2.643836,0.182192,2.510491,2.642292,2.552223,2.501381,0.127933,...,0.083359,2.532718,0.174124,0.094121,0.174487,0.111907,2.538155,2.604494,0.182136,0.152312
std,0.545283,1.433982,621.384645,1.446750,0.420896,1.449157,1.472695,1.449577,1.451475,0.386757,...,0.194025,1.442497,0.610803,0.366975,0.564201,0.217228,1.458332,1.419637,0.559075,0.302947
min,0.000445,0.055685,1.007800,0.032513,0.000100,0.014350,0.016254,0.039126,0.036541,0.000090,...,0.000209,0.020904,0.000178,0.000131,0.000338,0.000447,0.020070,0.045843,0.000553,0.000018
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,5.176600,5.064400,9163.100000,5.092100,4.605000,5.088200,5.056600,5.088800,5.072300,4.347800,...,3.838700,5.058300,11.120000,7.208400,5.217900,2.383400,5.073700,5.081900,7.693400,3.588100

In [5]:
missing_perc=train_df.apply(lambda x: 100*(1-x.count().sum()/(1.0*len(x))))
sorted_missing = missing_perc.sort_values(ascending = False)

In [6]:
#Handling missing data. Chose to replace missing values with the mean of respective
#columns
train_df = train_df.fillna(train_df.mean())

In [7]:
test_df = test_df.fillna(test_df.mean())

In [8]:
naive_bayes = GaussianNB()
X_train, X_test, y_train, y_test = train_test_split(train_df, train_df_y.values.ravel(), train_size = 0.67, random_state = 0)
naive_bayes = naive_bayes.fit(X_train, y_train)
accuracy = naive_bayes.score(X_test, y_test)
accuracy

0.78282828282828287

In [9]:
naive_bayes = GaussianNB()
naive_bayes = naive_bayes.fit(train_df, train_df_y.values.ravel())
pred_values = naive_bayes.predict(test_df)

In [10]:
rand_forest = RandomForestClassifier()
X_train, X_test, y_train, y_test = train_test_split(train_df, train_df_y.values.ravel(), train_size = 0.67, random_state = 0)
rand_forest = rand_forest.fit(X_train, y_train)
accuracy = rand_forest.score(X_test, y_test)
accuracy

0.82828282828282829